section.body {
  position: absolute;
  z-index: 2;
  top: 70px; }

header {
  position: absolute;
  z-index: 2; }

footer {
  position: absolute;
  bottom: 0;
  height: 45px;
  width: 100%;
  z-index: 2; }
  footer div:first-child {
    position: absolute;
    left: 15%;
    bottom: 5px;
    height: 20px;
    font-size: 14px;
    background: -webkit-linear-gradient(#5EF, #333);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; }
  footer div:last-child {
    position: absolute;
    right: 5px;
    height: 20px;
    font-size: 12px; }

section.layout {
  background-color: #1B2631;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  top: 0;
  overflow: hidden; }
  section.layout section.left-aside {
    height: 100%;
    width: calc(15% + 70px);
    z-index: 0;
    opacity: 0.7;
    border-top-right-radius: 50px; }
  section.layout section.menu-slots {
    position: absolute;
    left: 0;
    top: 110px;
    z-index: 1;
    color: blue;
    width: calc(15% + 70px);
    height: calc(100% - 126px);
    transform: skewY(150deg);
    opacity: 0.3; }
    section.layout section.menu-slots span {
      border-bottom: 1px solid #119;
      margin-top: 90px;
      height: 3px;
      width: 100%;
      display: inline-block;
      background: white;
      background: radial-gradient(circle, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 170, 0) 100%); }
  section.layout section.canvas {
    position: absolute;
    display: inline-block;
    border-top: 6px solid #FFA;
    border-right: 8px solid #FFA;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    top: 5px;
    left: calc(15% + 75px);
    width: calc(85% - 89px);
    height: calc(100% - 97px);
    z-index: 2;
    opacity: 0.6; }
  section.layout section.footer {
    position: absolute;
    z-index: 1;
    bottom: 0;
    right: -100px;
    border-left: 1px solid #119;
    border-top: 1px solid #119;
    transform: skewX(120deg);
    width: calc(85% + 100px);
    height: 80px;
    background: #020024;
    background: linear-gradient(0deg, #020024 0%, #090979 35%, #00d4ff 100%); }
    section.layout section.footer span {
      display: inline-block;
      border-right: 1px solid #119;
      width: 11%;
      height: 100%;
      opacity: 0.8; }

body {
  padding: 0;
  margin: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  display: inline-block;
  color: white;
  font-size: 18px; }

a {
  color: #00B7FF; }

/*# sourceMappingURL=style.css.map */