<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <base href="{{base}}" />
    <meta charset="UTF-8">
    <meta name="title" content="Machine learning / deep learning and artificial intelligence online service and products :: www.machine-ai.eu" />  
    <meta name="keywords" content="AI, Top Day, charts analyzer, visual recognition, discrepancies analysis, inteligent security cameras, number plate recognition, synthetic doctor, robotics, real time AI decisions, natural language AI service." />
    <meta name="description" content="Online data analysis service powered by Top Day machine learning solutions. Modulated productes like visual recognition, real time surveilance for discrepancies, big data analysis for bussiness, private and R%D industries. Robotics solutions prototyping using natuaral language and visual recognition." /> 
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script type="text/javascript" async="async" src="/javascripts/index.js"></script>
  </head>
  <body>
    {{{body}}}
    {{> header }}
    {{> footer }}
    {{> design }}
  </body>
</html>
