<section class="layout">

  <section class="left-aside">


  </section>
  <section class="menu-slots">
    <span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span>
  </section>

  <section class="canvas">
  </section>

  <section class="footer">
    <span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span>
  </section>
</section>
