section.body
  position: absolute;
  z-index: 2;
  top: 70px;


header
  position: absolute; 
  z-index: 2;
  

footer 
  position: absolute;
  bottom: 0;
  height: 45px;
  width: 100%;
  z-index: 2;
 
  div:first-child
    position: absolute; 
    left: 15%;
    bottom: 5px;
    height: 20px;
    font-size: 14px;
    background: -webkit-linear-gradient(#5EF, #333);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

  div:last-child
    position: absolute; 
    right: 5px;
    height: 20px;
    font-size: 12px;
