section.layout
  // background-color: #118;
  background-color: #1B2631;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  top: 0;
  overflow: hidden;

  section.left-aside
    height: 100%;
    width: calc(15% + 70px);
    z-index: 0;
    // background: rgb(9,9,121);
    // background: linear-gradient(90deg, rgba(9,9,121,1) 0%, rgba(255,255,170,1) 2%);
    opacity: 0.7;
    border-top-right-radius: 50px;

  section.menu-slots
    position: absolute;
    left: 0
    top: 110px
    z-index: 1
    color: blue;
    width: calc(15% + 70px);
    height: calc(100% - 126px);
    transform: skewY(150deg);
    opacity: 0.3;

    span
      border-bottom: 1px solid #119;
      margin-top: 90px;
      height: 3px;
      width: 100%;
      display: inline-block;
      background: rgb(255,255,255);
      background: radial-gradient(circle, rgba(255,255,255,0.4) 0%, rgba(255,255,170,0) 100%); 


  section.canvas 
    position: absolute;
    display: inline-block;
    border-top: 6px solid #FFA;
    border-right: 8px solid #FFA;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    top: 5px;
    left: calc(15% + 75px);
    width: calc(85% - 89px);
    height: calc(100% - 97px);
    z-index: 2;
    opacity: 0.6;
  
  section.footer
    position: absolute;
    z-index: 1;
    bottom: 0;
    right: -100px;
    border-left: 1px solid #119;
    border-top: 1px solid #119;
    transform: skewX(120deg);
    width: calc(85% + 100px);
    height: 80px;
    background: rgb(2,0,36);
    background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);

    span
      display: inline-block;
      border-right: 1px solid #119;
      width: 11%;
      height: 100%;
      opacity: 0.8;
