@import 'desktop'
@import 'design'

body
  padding: 0; 
  margin: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  display: inline-block;
  color: white;
  font-size: 18px;

a
  color: #00B7FF

